<form class="form-horizontal">
<h3>{{training.trainingID}} from {{training.startDate | date : "dd.MM.y" }} to {{training.endDate | date : "dd.MM.y" }}</h3>

  <div ng-repeat="participant in participants">
    <div class="control-group">
      <label class="control-label">Name</label>
      <div class="controls">
        <input type="text" 
               ng-model="participant.name"
               class="form-control" />
        <input type="text" 
               ng-model="participant.email"
               class="form-control" />
               
      </div>
    </div>
  </div>

  <script cam-script type="text/form-script">
  camForm.on('form-loaded', function() {
    // tell the form SDK to fetch the variable named 'training'
    camForm.variableManager.fetchVariable('training');
    camForm.variableManager.fetchVariable('participants');
  });
  camForm.on('variables-fetched', function() {
    // work with the variable (bind it to the current AngularJS $scope)
    $scope.training = camForm.variableManager.variableValue('training');
    $scope.participants = camForm.variableManager.variableValue('participants');
  });
  camForm.on('submit', function() {
    // remove '$$hashKey' properties from address objects
    angular.forEach($scope.participants, function(participant) {
        delete participant.$$hashKey;
    });
  });

  </script>
</form>